<div class="row d-flex justify-content-around mt-5">
  <div class="col-sm-4 text-center">
    <div style="height: 200px;" class="card border-dark text-center">
      <div
        style="background-color: crimson"
        class="card-header border-dark"
      ></div>
      <div class="card-body">
        <h5 class="card-title">Database</h5>
        <p class="card-text">
          Here , you can manage and add to basket the users
        </p>
        <a href="#" routerLink="./database" class="btn btn-outline-danger"
          >DATABASE</a
        >
      </div>
      <div
        style="background-color: crimson"
        class="card-footer border-dark"
      ></div>
    </div>
  </div>

  <div class="col-sm-4 text-center">
    <div style="height: 200px;" class="card border-dark text-center">
      <div
        style="background-color: crimson"
        class="card-header border-dark"
      ></div>
      <div class="card-body">
        <h5 class="card-title">Form</h5>
        <p class="card-text">A form to create a new User</p>
        <a href="#" class="btn btn-outline-danger" routerLink="./form">FORM</a>
      </div>
      <div
        style="background-color: crimson"
        class="card-footer border-dark"
      ></div>
    </div>
  </div>
</div>
