<div class="row d-flex justify-content-center">
  <div class="col-8 text-center">
    <form action="#" [formGroup]="form">
      <p id="error-message"></p>
      <div class="mb-3 mt-2">
        <label for="name" class="form-label">NAME</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          formControlName="name"
        />
      </div>
      <div class="mb-3 mt-2">
        <label for="last-name" class="form-label">LAST NAME</label>
        <input
          type="text"
          id="last-name"
          name="lastName"
          class="form-control"
          formControlName="lastName"
        />
      </div>
      <div class="row mb-4">
        <div class="col-md-4 text-center">
          <label for="age" class="form-label">AGE</label>
          <input
            type="number"
            id="age"
            name="age"
            class="form-control"
            formControlName="age"
          />
        </div>
        <div class="col-md-8 text-center">
          <label for="mail" class="form-label">MAIL</label>
          <input
            type="text"
            id="mail"
            name="mail"
            class="form-control"
            formControlName="mail"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4 text-center">
          <label for="price" class="form-label">PRICE</label>
          <input
            type="number"
            id="price"
            name="price"
            class="form-control"
            formControlName="price"
          />
        </div>
        <div class="col-md-8 text-center">
          <label for="location" class="form-label">LOCATION</label>
          <input
            type="text"
            id="location"
            name="location"
            class="form-control"
            formControlName="location"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="row d-flex justify-content-around mb-2">
    <div class="col-3">
      <button
        type="button"
        (click)="closeTheForm()"
        class="btn btn-outline-danger"
      >
        CLOSE
      </button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-danger" (click)="saveUser()">SAVE</button>
    </div>
  </div>
</div>
